.container {
  width: 75%;
  margin: auto;
}
.header {
  background-color: blue;
}
.header .container {
  height: 100px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .meniu li {
  list-style: none;
  color: white;
  font-size: 1em;
  margin-left: 20px;
}
.header .meniu a {
  color: white;
  text-decoration: none;
}
.header .meniu ul {
  display: flex;
}
.hero {
  width: 100%;
  height: 500px;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  margin: 0px;
}
.card {
  width: 30%;
  border: 1px solid grey;
}
.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card-foto {
  background-color: green;
  width: 100%;
  height: 200px;
}
.card-body {
  padding: 10px;
}
.cards .container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
}
.yellow {
  background-color: yellow;
  padding-top: 100px;
  padding-bottom: 100px;
}
.foots {
  display: flex;
  justify-content: space-between;
}
.foots .foot ul {
  list-style: none;
}
.foot {
  width: 24%;
}
.footer {
  background-color: red;
}
